/* Reset Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* HERO SECTION STYLE START */
.hero{
    height: 100vh;
    max-height: 1024px;
    width: 100%;
    background-image: url('images/IMG9.png');
    background-size: cover;
}
.hero .container{
    height: 100vh;
    max-height: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero .container h1{
    margin: 60px 0;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    font-size: 3rem;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}
.hero .container button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    color: #ffffff;
    letter-spacing: 2px;
    cursor: pointer;
}
.hero .container button:hover{
    background-color: #000000;
    border: 2px solid #ffffff;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
@media only screen and (max-width: 768px){
    .hero{
        background-image: url('images/IMG8.png');
    }
    .hero .container h1{
        font-size: 2.4rem;
    }
}
/* HERO SECTION STYLE END */

/* NAVBAR STYLE START */
.navbar{
    background-color: rgb(18, 58, 18);
    width: 100%;
    padding: 5px 0;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
}
.logo span:nth-child(1){
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    background-color: rgb(97, 95, 95);
    margin-right: 15px;
}
.logo span:nth-child(2){
    color: #ffffff;
    font-size: 25px;
}
.logo span:nth-child(3){
    color: green;
    font-size: 25px;
}
.nav-wrapper .nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-wrapper .nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}
.nav-wrapper .nav-list li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}
.nav-wrapper .nav-list li a:hover{
    color: green;
}
.hamburger {
    display: none;
}
/* mobile navbar */
.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    cursor: pointer;
}
.mobile .hamburger span {
    background: white;
    width: 30px;
    height: 3px;
    margin-bottom: 8px;
}
.mobile .hamburger span:nth-child(2){
    width: 18px;
    align-self: flex-end;
}
.mobile ul.nav-list {
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.hamburger, .brand {
    z-index: 9999;
}
.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;  
}
.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}
.mobile ul.nav-list li a {
    font-size: 20px;
}
.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}
/* NAVBAR STYLE END */


