/* Reset Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
}
/* HERO SECTION STYLE START */
.hero{
    height: 100vh;
    max-height: 800px;
    width: 100%;
    background-image: url('images/IMG9.png');
    background-size: cover;
}
.hero .container{
    height: 100vh;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero .container h1{
    margin: 60px 0;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    font-size: 3rem;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}
.hero .container button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    color: #ffffff;
    letter-spacing: 2px;
    cursor: pointer;
}
.hero .container button:hover{
    background-color: #000000;
    border: 2px solid #ffffff;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
@media only screen and (max-width: 768px){
    .hero{
        background-image: url('images/IMG8.png');
    }
    .hero .container h1{
        font-size: 2.4rem;
    }
}
/* HERO SECTION STYLE END */

/* NAVBAR STYLE START */
.navbar{
    background-color: rgb(18, 58, 18);
    width: 100%;
    padding: 5px 0;
    position: sticky;
    top: 0;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
}
.logo span:nth-child(1){
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    background-color: rgb(97, 95, 95);
    margin-right: 15px;
}
.logo span:nth-child(2){
    color: #ffffff;
    font-size: 25px;
}
.logo span:nth-child(3){
    color: green;
    font-size: 25px;
}
.nav-wrapper .nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-wrapper .nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}
.nav-wrapper .nav-list li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}
.nav-wrapper .nav-list li a:hover{
    color: green;
}
.hamburger {
    display: none;
}
/* mobile navbar */
.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    cursor: pointer;
}
.mobile .hamburger span {
    background: white;
    width: 30px;
    height: 3px;
    margin-bottom: 8px;
}
.mobile .hamburger span:nth-child(2){
    width: 18px;
    align-self: flex-end;
}
.mobile ul.nav-list {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.hamburger, .brand {
    z-index: 9999;
}
.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;  
}
.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}
.mobile ul.nav-list li a {
    font-size: 20px;
}
.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}
/* NAVBAR STYLE END */

/* INTRO STYLE START */
.intro .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 80px 0 50px;
    align-items: center;
    justify-content: space-between;
}
.intro-box{
    width: 30%;
    min-width: 300px;
    margin-bottom: 40px;
    padding-right: 40px;
}
.intro-box h3{
    margin-bottom: 15px;
    font-size: 25px;
    color: rgb(85, 83, 83);
}
.intro-box p{
    color: gray;
    text-align: justify;
}
@media only screen and (max-width: 768px){
    .intro .container{
        justify-content: space-around;
    }
    .intro-box{
        padding-right: 0;
    }
}
/* INTRO STYLE END */

/* ABOUT STYLE START */
.about{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color:  rgba(105, 105, 105, 0.1);
}
.about-image{
    background-image: url('images/IMG8.png');
    background-position: center center;
    background-size: cover;
    width: 70%;
    height: 100vh;
    max-height: 700px;
}
.about-content{
    margin-left: 80px;
}
.about-content h2{
    color: gray;
    font-size: 30px;
    margin-bottom: 25px;
}
.about-content p{
    color: gray;
    margin-bottom: 15px;
    width: 80%;
    text-align: justify;
}
.about-content-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}
.skill h4{
    color: gray;
    font-size: 20px;
    margin-bottom: 15px;
}
@media only screen and (max-width: 768px){
    .about{
        flex-direction: column;
    }
    .about-image{
        width: 100%;
    }
    .about-content{
        margin: 50px 10%;
    }
    .about-content p, .about-content-skills{
        width: 100%;
    }
    .about-content-skills{
        grid-template-columns: 1fr;
        grid-template-rows:  auto auto auto auto;
        column-gap: 0;
    }
}
/* ABOUT STYLE END */

/* SKILLS STYLE START */
.skills .container{
    display: flex;
    padding: 50px 0;
}
.skills-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.skills-left h2{
    color: gray;
    font-size: 30px;
    margin-bottom: 30px;
}
.skills-left p{
    color: gray;
    margin-bottom: 20px;
    width: 90%;
    text-align: justify;
}
.skills-left button{
    width: 150px;
    height: 50px;
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid rgb(57, 146, 57);
    color: rgb(57, 146, 57);
    cursor: pointer;
    font-weight: 600;
}
.skills-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 50px 0 50px 5%;
}
.skill-item{
    margin-bottom: 40px;
}
.skill-item h4{
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
}
.skill-wrapper{
    width: 100%;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.24);
    border-radius: 20px;
}
.skill-fill{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    background-color: green;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.skill-fill span{
    color: #ffffff;
    padding-right: 15px;
}
.nine{
    width: 90%;
}
.height{
    width: 80%;
}
.seven{
    width: 70%;
}
@media only screen and (max-width: 768px){
    .skills .container{
        flex-direction: column;
    }
    .skills-left , .skills-right{
        width: 100%;
        padding: 0 5%;
    }
    .skills-left{
        margin-bottom: 80px;
    }
}
/* SKILLS STYLE END */

/* RESUME STYLE START */
.resume{
    background-color:  rgba(105, 105, 105, 0.1);
}
.resume_header{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    color:  dimgray;
    font-size: 24px;
    font-family: sans-serif;
}
.resume_text{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color:  dimgray;
    font-family: sans-serif;
    opacity: 0.8;
    padding: 40px 10px;
}
.resume_btn{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.resume_btn button{
    background-color: transparent;
    width: 200px;
    height: 44px;
    color: green;
    border: 2px solid  green;
    box-shadow: none;
    font-size: 16px;
}
.resume_btn button{
    cursor: pointer;
    opacity: 0.8;
}
/* RESUME STYLE END */